$primary-background-color: #ffffff;
$primary-border-color: #e9dede;

.navigation-bar {
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: $primary-background-color !important;
    border-bottom: 2px solid $primary-border-color;
}

.navigation-bar-logo {
    width: 120px;
    height: 32px;
    margin: 14px 20px 14px 0px;
    border-radius: 5px;
    background: $primary-border-color;
}

.navigation-bar-tools {
    width: 100%;
    margin-top: 14px;
}

.navigation-bar-user {
    margin-top: -3px;
}