$primary-background-color: #ffffff;
$primary-border-color: #e9dede;

.navigation-bar {
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    background: $primary-background-color !important;
    border-bottom: 2px solid $primary-border-color;
}

.navigation-bar-logo {
    width: 120px;
    height: 30px;
    margin: 16px 20px 16px 0px;
    background: $primary-border-color;
}